@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<html>
    <div class="text-center">
        <h1 class="display-4">Fire Risk Tracker</h1>    
    </div>
    <div class ="text-center">
    
    <a href="/about" class="btn">About This Project</a></div>
    <style>
        .btn {
            display: inline-block;
            padding: 10px 20px;
            background-color: #388238;
            color: black;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>

<img src="~/outlook_d1.png" alt="Fire Risk Outlook" />
</html>